@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


/* Colors */

$blueColor: #263a66;
$greyColor: #e7e7e6;
$blackColor: #464646;
$redColor: #c04c4b;
$yellowColor: #f0dba5;

/* Fonts */

$titleFont: 'Bebas Neue', cursive;
$sndFont:  'Cabin', sans-serif;
$bodyFont: 'Cabin', sans-serif;


