@import "./variables";
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

/*       NAV        */
.navContainer{
    margin-top: -150px;
    

    .navbar{
        display: flex;
        flex-direction: row;
        font-family: $sndFont;
        font-size: 16px;
        font-weight: bold;
        justify-content: flex-start;
        height: 50px;
        width: 100%;
    }
}

/*       HOME        */

body {
    background: rgb(148,206,231);
    background: linear-gradient(0deg, rgba(148,206,231,1) 0%, rgba(128,211,240,1) 20%, rgba(218,255,255,1) 100%);
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

.App {
    justify-content: center;
    font-family: $bodyFont;
    font-size: 24px;
    margin-top: 150px;
    height: 100%;
    
}

.TitleSection{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        color: $blueColor;
        font-family: $sndFont;
        font-size: 30px;
        font-weight: bold;
        margin-left: 0px;
        margin-top: 0px;
    }
    

    input{
        width: 200px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid $greyColor;
        margin-top: 50px;
        font-size: 18px;
        padding-left: 10px;
    }

    button{
        border: none;
        border-radius: 10px;
        color: $blueColor;
        font-family: $sndFont;
        font-size: 18px;
        height: 40px;
        margin: 20px;
        padding-left: 10px;
        width: 200px;
        
    }
}

.DisplaySection{
    display: flex;
    flex-direction: column;
    align-items: center;

    // width: 25%;

    p{
        align-content: center;
        color: $blueColor;
        font-family: $bodyFont;
        font-size: 12px;
        margin-left: 50px;
        margin-top: 46px;
        width: 60%;
        
    }

    .pokeInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
       

        h1{
            color: $blueColor;
            font-family: $titleFont;
            font-size: 50px;
        }

        h3{
            color: $blueColor;
            font-family: $titleFont;
        }

        h5{
            font-family: $bodyFont;
            font-size: 15px;
            color: $blueColor;
        }
    }
}


/*       Challenges        */
.container{
    height: 100%;
    width: 100%;

    .container2{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top:50px;
        margin-bottom: 56px;
        
        .card-body{
            align-self:center;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0 0 0.5em $blackColor;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 84px;
            padding: 30px;
            position: relative;
            width: 600px;
            
        }
        
        h1{
            color: $blueColor;
            font-family: $titleFont;
            font-size: 40px;
        }

        h5{
            font-family: $sndFont;
            font-size: 20px;
            color: $redColor;
            margin-bottom: 10px;
        }

        p{
            font-family: $bodyFont;
            font-size: 12px;
            color: $blackColor;
            margin-right: 10px;
        }

        h6{
            font-family: $sndFont;
            font-size: 12px;
            font-weight: bold;
            color: $blackColor;
        }

        button{
            align-self: center;
            border: none;
            border-radius: 10px;
            color: $blueColor;
            font-family: $sndFont;
            font-size: 18px;
            height: 40px;
            margin: 20px;
            width: 200px;
        }
    }
    
}
